.header-container {
  background-color: #d5d5d5;
  width: 100%;
  height: 50px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-content img {
  width: 200px;
}
